.animatedText1,
.animatedText2 {
  position: relative;
  color: black;
  padding: 0.2em 0.4em;
}

@media (prefers-color-scheme: dark) {
  .animatedText1,
  .animatedText2 {
    color: white;
  }
}

.animatedText1::before,
.animatedText2::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: -1;
}

.animatedText1::before {
  border-radius: 12px;
  background-color: var(--hackomania-green);
  animation: highlightAnimation 1s ease-in-out forwards;
}

.animatedText2::before {
  border-radius: 12px;
  background-color: var(--hackomania-blue);
  animation: highlightAnimation 1s ease-in-out 1s forwards;
}

.animatedText1,
.animatedText2 {
  animation: textColorAnimation 1s ease-in-out forwards;
}

.animatedText2 {
  animation-delay: 1s;
}

@keyframes highlightAnimation {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes textColorAnimation {
  0% { color: inherit; }
  50% { color: inherit; }
  100% { color: white; }
}

@media (prefers-color-scheme: dark) {
  @keyframes textColorAnimation {
    0% { color: white; }
    50% { color: white; }
    100% { color: white; }
  }
}

.animatedBackground {
  width: 6000px; /** 3 * image width */
  animation: slide 60s linear infinite;
}

/* Using translate is more performant than modifying background position */
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1400px, 0, 0); /* The image width */
  }
}

